// credentials.h.template
#ifndef CREDENTIALS_H
#define CREDENTIALS_H

struct WiFiNetwork {
    const char* ssid;
    const char* password;
};

WiFiNetwork wifiNetworks[] = {
    { "", "" },
    { "SSID1", "SSID1" },
    { "SSID2", "SSID2" },
};

#endif